<div class="row">
  <div class="center">
    <h4 class="title brown-text"><%= "Bem-vindo, #{current_user.name}" %></h4>
    </div>
  </div>
</div>

<div class="container">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="<%= current_user.image %>" class="circle">
      <h1 class="title">Profile</h1>
      <hr>
      <br>
      <p><strong>Name: </strong><%= current_user.name %></p>
      <p><strong>E-mail:</strong> <%= current_user.email %></p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      <p><strong>Location: </strong><%= current_user.location %></p>
      <p><strong>Sex:</strong> <%= current_user.sex %></p>
      <p style="text-align: right;">
        <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
      </p>
    </li>
  </ul>
</div>