<div class="page-footer brown">
  <div class="container">
    <div class="copyright">
      <b>
      <p style="text-align: center;">
       Copyright ® <%= Date.today.year %> | Coffee Bean Social ID | 
      </p>
      </b>
    </div>
  </div>
</div>
