<nav class="brown">
  <div class="nav-wrapper">
    <a href="/home.html" class="brand-logo"><i class="material-icons">cloud</i>Coffee Bean</a>
    <ul class="right hide-on-med-and-down" style="display: none;">
    	<% if current_user %>
              <li><%= link_to "#{current_user.name}", admin_root_path %></li>
        <% else %>
			  <li><%= link_to "Login", new_user_session_path %></li>
			  <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
    </ul>
  </div>
</nav>