<% unless @net_http.blank? %>
<div>
    <p> <%= @net_http %> </p>
</div>
<% end %>
<% unless @get_info.blank? %>
  <p> <img src="<%= @get_info['picture_url'] %>"></p> 
  <p> <strong>User ID</strong>: <%= @get_info["user_id"] %></p> 
  <p> <strong>Name</strong>: <%= @get_info["name"] %></p> 
  <p> <strong>E-mail</strong>: <%= @get_info["email"] %></p> 
  <p> <strong>Location</strong>: <%= @get_info["location"] %></p> 
  <p> <strong>Username</strong>: <%= @get_info["username"] %></p> 
<% end %>
<% unless @net_http.blank? and @get_info.blank? %>
  <button id="logout" class="brn brown btn-floating pulse" onclick="logout()">Out</button>
<% end %>


<script type="text/javascript">

 var handler = function(response) {}

 function logout() {
   socialid.login.logout(handler);
   $.ajax({
    url: "/logout",
    method: "GET",
    dataType: "script",
  });

 }
</script>

<style type="text/css">
  p{
    text-align: justify;
  }
</style>