<div class="row home">
  <div class="center">
    <h4 class="title">Coffee Bean - Social ID</h4>
    <div style="background: rgba(000,000,000, 0.7); height: auto;">
      <div id="home_paralax" class="parallax-container">
        <div class="parallax">
          <img src="/parallax2.jpg">
        </div>
      </div>
    </div>

    <div id='login-c6ab6f67' style='display: inline-block; padding: 5px'></div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div id="user_info">
          <%= render 'user_info' %>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  (function() {
    if (typeof(window.socialid) !== "object") window.socialid = {};
    socialid.onLoad = function() {
      socialid.login.init(437, {loginType: "event"});


      socialid.login.getUserInfo(handler, {fields: "display_name,verified_email,current_location,picture_url,providers"});

      socialid.events.onLoginSuccess.addHandler(function(data) {
        login(data.token);
        setTimeout(function(){
           window.location.reload(1);
        }, 1000);
      });

      socialid.login.renderLoginWidget("login-c6ab6f67",
        {"providers":["facebook","gplus","twitter","linkedin"],"theme":"bricks","showSocialIdLink":true},
        );
    };
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = '';
    if (document.location.protocol === 'https:') {
      e.src = 'https://staging.socialidnow.com/assets/api/socialid.js';
    } else {
      e.src = 'http://staging.socialidnow.com/assets/api/socialid.js';
    }
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
  })();


</script>




<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>




<script type="text/javascript">

 var handler = function(response) {
  if (response.status == "success") {
    $.ajax({
      url: "/home",
      method: "GET",
      dataType: "script",
      data: {
        'data':         response.data
      },
    });
  } 
}

function login(token){
  $.ajax({
    url: "/home",
    method: "GET",
    dataType: "script",
    data: {
      'token':         token
    },
  });
}

</script>