<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <%= f.email_field :email, autofocus: true %>
          <label for="icon_prefix">E-mail</label>
        </div>
        </div>

        <div class="field">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <%= f.password_field :password, autocomplete: "off" %>
            <label for="icon_telephone">Password</label>
          </div>
        </div>
        
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div style="display: none;">
  <% unless current_user %> 
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
    <%= current_user[:name] %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
