

<ul id="slide-out" class="side-nav">
    <li><div class="user-view brown">
      <img src="<%= current_user.image %>" class="circle">
      <a href="#"><span class="white-text name"><%= "#{current_user.name}" %></span></a>
      <a href="#"><span class="white-text name"><%= "#{current_user.email}" %></span></a>
      <br>
    </div></li>


              <li><%= link_to 'Profile', admin_root_path %></li>
              <li class="divider"></li>
              <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
  </ul>
  <div style="margin: 15px;">
    <a href="#" data-activates="slide-out" class="btn btn-floating pulse button-collapse brown">
      <i class="material-icons">menu</i>
    </a>
  </div>
